html{
    height: 100%;
    background: rgb(227,226,221);
    background: linear-gradient(0deg, rgba(227,226,221,1) 51%, rgba(189,189,185,1) 100%);
}

.fondo{
    background: rgb(227,226,221);
    background: linear-gradient(0deg, rgba(227,226,221,1) 51%, rgba(189,189,185,1) 100%);
    height: 100%;
    padding-bottom: 100px;
}

.peliculas{
    -webkit-box-shadow: inset 7px 24px 31px -40px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 7px 24px 31px -40px rgba(0,0,0,0.75);
    box-shadow: inset 7px 24px 31px -40px rgba(0,0,0,0.75);
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #B2B2B2;
    margin-bottom: 20px;
}

h5{
    color: #A58500;
    font-weight: bold;
}

.contenido{
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}

#lista{
    list-style: none;
}

#lista div{
    padding-top: 10px;
    padding-bottom: 10px;
}

#lista li{
    background-color: #FBFBFB;
}

#lista li:nth-child(2n){
    background-color: #F6F6F5;
}

#lista img{
    width: 30px;
    height: 35px;
}

#lista a{
    color: #136CB2;
}